<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "listings" %>
	<title>Edit Listing</title>
</head>
<body>
<a class="logo navbar-brand" href="<%= welcome_1_path %>"><img src="/images/BestBookingLogo.jpg" style="max-height: 50px;"></a>

<nav class="navbar navbar-expand-lg navbar-light"">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <% if !session[:user_id] %>
      <a class="nav-link" <%= link_to "Create Profile", new_user_path, method: :get %></a>
      <a class="nav-link" <%= link_to "Listings", listings_path %></a>
    <% else %>
      <a class="nav-link" <%= link_to "View Profile", user_path(session[:user_id]), method: :get %></a>
      <a class="nav-link" <%= link_to "Listings", listings_path %></a>
      <a class="nav-link" <%= link_to "Sign Out", logout_path, method: :delete %></a>
    <% end %>
  </ul>
</nav>


<div class="container text-center">
	<h1>Create a New Listing!</h1>
	  <p>Where is your listing?</p>  
</div> 


<%= form_for @listing do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.label :location %>
  <%= f.text_field :location %><br>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %><br>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %><br>

  <%= f.submit %>
<% end %>

<footer class="text-center">
    <h4>BestBooking!</h3>
    <p>All Rights Reserved &trade;</p>
</footer>
</body>