<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "listings" %>
	<title>Listings</title>
</head>
<body>
<div class="container">
  <img class="logo" src="/images/BestBookingLogo.jpg" alt="logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light"">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <% if !session[:user_id] %>
      <a class="nav-link" <%= link_to "Create Profile", new_user_path, method: :get %></a>
    <% else %>
      <a class="nav-link" <%= link_to "View Profile", user_path(session[:user_id]), method: :get %></a>
      <a class="nav-link" <%= link_to "Sign Out", logout_path, method: :delete %></a>
    <% end %>
  </ul>
</nav>

<div class="container text-center">
  <h1>Listings</h1>
  <h6>Where would you like to stay?</h6>
</div>

<br>

 <div class="row justify-content-center">
    <div class="col-4">
     <% @listings.each do |l| %>
		  <p><%= link_to l.location, listing_path(l) %></p>
		<% end %>
    </div>
    <div class="col-4">

    </div>
  </div>


<footer class="text-center">
    <h4>BestBooking!</h3>
    <p>All Rights Reserved &trade;</p>
</footer>
</body>
</html>
