<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<%= stylesheet_link_tag "listings" %>
  	<title>Listing Show Page</title>
  </head>
  <body>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <li style="color:red"><%= error %></li>
      <% end %>
    <% end %>
      <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="position:absolute">
          <div class="container">
            <a class="logo navbar-brand" href="<%= welcome_1_path %>"><img src="/images/BestBookingTransparent.jpg" style="max-height: 50px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
              <ul class="navbar-nav mr-auto">
                <% if !session[:user_id] %>
                <li class="nav-item-">
                  <a class="nav-link-1" <%= link_to "Login", new_session_path, method: :get %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "Create Profile", new_user_path, method: :get %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "All Listings", listings_path %></a>
                </li>
                <% else %>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "View Profile", user_path(session[:user_id]), method: :get %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "All Listings", listings_path %></a>
                </li>
                <% if @lister == session[:user_id] %>
                  <li class="nav-item">
                    <a class="nav-link-1" <%= link_to "Edit Listing", edit_listing_path(@listing) %></a>
                  </li>
                <% end %>
                <% end %>
              </ul>
              <form class="form-inline">
                <!-- <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div> -->
                <!-- <li class="nav-item"> -->
                  <a class="nav-link text-align-right blue" style="color:white;" <%= link_to "Sign Out", logout_path, method: :delete %></a>
                <!-- </li> -->
              </form>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Full Page Intro -->
        <div class="view" style="background-image: url('https://www.trumphotels.com/uploads/17288/16/cloudinary/trump-hotels-cloudinary/image/upload/x_78,y_194,w_1389,h_1800,c_crop/c_fill,w_1666,ar_119:73/v1523290077/oj25tuldgxunuxgsodmr.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 0.90;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                  <br>
                  <br>
                  <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong><%= @lister.name.titleize %>'s Listing Profile</strong></h1><br>
                  <!-- <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s"> -->
                </div>
                <br>
                <br>
                <div class="card" style="width: 30rem; background-color:transparent; margin-left:32%; background-color: rgba(0, 0, 0, 0.5);">
                  <div class="card-body col text-center">
                    <% if @lister.img_url %>
                      <%= image_tag @lister.img_url %>
                    <% else %>
                      <img src="/images/<%= @random_image %>" style="max-height:40%; max-width:40%;">
                    <% end %>

                    <h3 style="color:white;">Properties:</h3>
                      <% if !@lister.listings.empty? %>
                        <% @lister.listings.each do |listing| %>
                          <li style="color:white;"><%= link_to listing.location, listing_path(listing) %></li><br>
                        <% end %>
                      <% else %>
                        <li>You currently have zero listings</li>
                      <% end %>
                  </div>
                </div>
              </div>
              <!--Grid row-->
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
      </header>
      <!-- Main navigation -->
      <!--Main Layout-->
      <main>


      </main>
      <!--Main Layout-->


      <footer class="text-center">
          <h4>BestBooking!</h4>
          <p>All Rights Reserved &trade;</p>
      </footer>

    </body>
</html>
