<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "listings" %>
	<title>Document</title>
</head>
<body>
<div class="container">
  <img class="logo" src="/images/BestBookingLogo.jpg" alt="logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light"">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if !session[:user_id] %>
        <a class="nav-link" <%= link_to "Login", new_session_path, method: :get %></a>
        <a class="nav-link" <%= link_to "Create Profile", new_user_path, method: :get %></a>
        <a class="nav-link" <%= link_to "Listings", listings_path %></a>
      <% else %>
        <a class="nav-link" <%= link_to "View Profile", user_path(session[:user_id]), method: :get %></a>
        <a class="nav-link" <%= link_to "Listings", listings_path %></a>
        <% if @listing.user.id == session[:user_id] %>
          <a class="nav-link" <%= link_to "Edit Listing", edit_listing_path(@listing) %></a>
        <% end %>
        <a class="nav-link" <%= link_to "Sign Out", logout_path, method: :delete %></a>
      <% end %>
    </ul>
  </nav>

<div class="container text-center">
	 <h1><%= @listing.location %></h1>
	<h3>Listing Owner: <%= link_to @listing.user.name.titleize, lister_show_path(@listing.user) %></h3>
</div>


<ul>
   <img src="/images/<%= @random_image%>" style="max-height:40%; max-width:40%; display: block; margin-left: auto; margin-right: auto; width: 50%;">
</ul><br>

<h3>Reserve Your Dates:</h3>
<div class="container">
<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @listing.bookings) do |date, bookings| %>
  <%=date.day%>
  <% if @listing.user.id != session[:user_id] %>
    <% if session[:user_id] %>
      <div id="avail"><%= button_to "Available", create_booking_path(date, @listing.id), method: :get %></div>
    <% end %>
  <% end %>
  <% bookings.each do |booking| %>
    <div><%= booking.user.name.titleize %></div>
  <% end %>
  <% end %>
</div>

<br>


<footer class="text-center">
    <h4>BestBooking!</h3>
    <p>All Rights Reserved &trade;</p>
</footer>
</body>
</html>
