<h2><%= @listing.name %></h2>
<p>Lister: <%= Lister.find(@listing.lister_id).name %></p>
<hr>
<h4> Current bookings </h4>
<% @listing.bookings.each do |booking| %>
<p>Guest: <%= link_to booking.name, booking_path(booking) %></p>
<% end %>
<hr><br>
<%= button_to "Edit", edit_listing_path(@listing), method: :get %>
<%= button_to "Back to Listers Index", listers_path, method: :get %>