<h1><%= @listing.location %></h1>
<h3>Belongs To: <%= @listing.user.name.capitalize %></h3>

<h3>Reserve Your Dates:</h3>

<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @listing.bookings) do |date, bookings| %>
  <%= link_to date, create_booking_path(date, @listing.id) %>
  <% bookings.each do |booking| %>
    <div><%= booking.user.name %></div>
  <% end %>
<% end %>

<br>
<%# link_to "Edit Listing", edit_listing_path %>

<%= link_to "View All Listings", listings_path %>
