<%if flash[:error]%>
<% flash[:error].each do |error|%>
<li style="color:red"><%= error %></li>
<%end%>
<%end%>

<%= form_for @booking do |f|%>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.submit "Update" %>
<% end %>

<%= button_to 'Delete', booking_path(@booking), method: :delete %> 
