<%if flash[:error]%>
<% flash[:error].each do |error|%>
<li style="color:red"><%= error %></li>
<%end%>
<%end%>

<%= form_for @booking do |f|%>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label "Booker" %>
<%= f.collection_select :booker_id, Booker.all, :id, :name %><br>

<%= f.label "Listing" %>
<%= f.collection_select :listing_id, Listing.all, :id, :name %><br>

<%= f.submit "Add Booking" %>
<% end %>
<hr>
<%= button_to "Cancel", bookings_path, method: :get %>