<h1>Hey, <%= @booking.user.name.capitalize %>!</h1>

<h2>Here are your upcoming Bookings:</h2>
<h3>Address: <%= @booking.listing.location %></h3>
<h3>Start Date: <%= @booking.start_date %></h3>
<h3>End Date: <%= @booking.end_date %></h3>

<%= link_to "Edit Booking", edit_a_booking_path %>
