<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "users" %>
	<title>Edit Profile</title>
</head>
<body>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="logo navbar-brand" href="<%= welcome_1_path %>"><img src="/images/BestBookingTransparent.jpg" style="max-height: 50px;"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" <%= link_to "Listings", listings_path %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" <%= link_to "Create a Listing", create_listing_path %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" <%= link_to "View Profile", user_path(session[:user_id]), method: :get %></a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-align-right" <%= link_to "Sign Out", logout_path, method: :delete %></a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1>Edit Your Profile</h1>

		<%= form_for @user do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>

		<%= f.label :email %>
		<%= f.text_field :email %><br>

		<%= f.label :password %>
		<%= f.text_field :password %><br>

		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %><br>

		<%= f.submit "Update Profile" %>
		<% end %>
    </div>
    <div class="col">

    </div>
  </div>

<footer class="fixed-bottom text-center">
  <h4>BestBooking!</h4>
  <p>All Rights Reserved &trade;</p>
</footer>
</body>
