<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "users" %>
	<title>Create Profile</title>
</head>
<body>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div class="container">
	<img class="logo" src="/images/BestBookingLogo.jpg" alt="logo">
</div>

<nav class="navbar navbar-expand-lg navbar-light">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<a class="nav-link" <%= link_to "Listings", listings_path %></a>
	</ul>
</nav>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <li style="color:red"><%= error %></li>
  <% end %>
<% end %>

<div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1>Create Your Profile</h1>

		<%= form_for @user do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>

		<%= f.label :email %>
		<%= f.text_field :email %><br>

		<%= f.label :password %>
		<%= f.text_field :password %><br>

		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %><br>

		<%= f.submit "Update Profile" %>
		<% end %>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>

<footer class="fixed-bottom text-center">
  <h4>BestBooking!</h3>
  <p>All Rights Reserved &trade;</p>
</footer>
</body>