<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "listings" %>
	<title>New Listing</title>
</head>
<body>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <li style="color:red"><%= error %></li>
      <% end %>
    <% end %>
      <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="position:absolute">
          <div class="container">
            <a class="logo navbar-brand" href="<%= welcome_1_path %>"><img src="/images/BestBookingTransparent.jpg" style="max-height: 50px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "Edit Your Profile", edit_user_path(@user) %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "All Listings", listings_path %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-1" <%= link_to "Create a Listing", create_listing_path %></a>
                </li>
              </ul>
              <form class="form-inline">
                <!-- <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div> -->
                <!-- <li class="nav-item"> -->
                  <a class="nav-link text-align-right blue" <%= link_to "Sign Out", logout_path, method: :delete %></a>
                <!-- </li> -->
              </form>
            </div>
          </div>
        </nav>
        <!-- Navbar -->

        <!-- Full Page Intro -->
        <div class="view" style="background-image: url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1525474227/049-il-san-pietro-di-positano-TOP100HOTELS0518.jpg?itok=zOnhoTGE'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 0.90;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" style="color:rgb(48	127	124);" data-wow-delay="0.3s">Hi, <%= @user.name.titleize %>!</h1><br>
                  <!-- <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s"> -->
                </div>
                <br>
                <br><div class="container" style="margin-left:12%; border-radius:20px;">
                  <div class="row">

                    <div class="card" style="width: 18rem; background-color:transparent; background-color: rgba(238,	232,	224, 0.75);">
                      <div class="card-body col text-center" style="color:rgb(40 127	130)">
                        <ul>
                          <%# if @user.img_url %>
                            <!-- <div class="thumb"><%# image_tag @user.img_url %></div> -->
                          <%# else %>
                           <img src="/images/<%= @random_image %>" style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
                          <%# end %>
                        </ul><br>
                      </div>
                    </div>

                    <span class="border border-primary"></span>

                    <div class="card" style="width: 18rem; background-color:transparent; background-color: rgba(238,	232,	224, 0.75);">
                      <div class="card-body col text-center" style="color:rgb(40 127	130)">
                      <h2 class="text-center"">Your Upcoming Bookings:</h2>
                        <% if @user.bookings.empty? || @user.bookings = []%>
                        	 <li>You Currently Have No Bookings.</li>
                        	<% else %>
                          <ul>
                        	  <% @user.bookings.each do |booking| %>
                              <% if !booking.listing.nil? %>
                          		<li><%= link_to booking.listing.location, booking_path(booking) %><br>
                          		   <strong>Dates: </strong><%= booking.to_d %></li><br>
                              <% end %>
                            <% end %>
                        	</ul>
                      	<% end %>
                    </div>
                    </div>

                    <span class="border border-primary"></span>

                    <div class="card" style="width: 18rem; background-color:transparent; background-color: rgba(238,	232,	224, 0.75);">
                      <div class="card-body col text-center" style="color:rgb(40 127	130)">
                      <h2>Your Listings:</h2>
                    	  <% if @user.listings.empty?%>
                    	    <li>You Currently Have No Listings.</li>
                    	  <% else %>
                    	   <ul>
                    	     <% @user.listings.each do |listing| %>
                    	       <li><%= link_to listing.location, listing_path(listing) %></li><br>
                    	     <% end %>
                    	   </ul>
                      	<% end %>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
              <!--Grid row-->
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
      </header>
      <!-- Main navigation -->
      <!--Main Layout-->
      <main>

      </main>
      <!--Main Layout-->


      <footer class="text-center">
          <h4>BestBooking!</h4>
          <p>All Rights Reserved &trade;</p>
      </footer>

    </body>
</html>
