<h1>Hey, <%= @user.name %>!</h1>

Email: <%= @user.email %><br>

Listings:
<ul>
  <% @user.listings.each do |listing| %>
    <li><%= link_to listing.location, listing_path(listing) %></li>
  <% end %>
</ul>

<%= link_to "Edit Your Profile", edit_user_path(@user) %><br>
<%= link_to "Create a Listing", create_listing_path %>
