<h1>Hey, <%= @user.name %>!</h1>

Email: <%= @user.email %><br>

Listings:

<% if @user.listings.empty?%>
<li>You Currently Have No Listings.</li>
<% else %>
  <ul>
    <% @user.listings.each do |listing| %>
      <li><%= link_to listing.location, listing_path(listing) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Here are your upcoming Bookings:</h2>
<div>
  <% @user.bookings.each do |booking| %>
    <li> Address: <%= link_to booking.listing.location, booking_path(booking) %><br>
    Start Date: <%= booking.start_date %><br>
    End Date: <%= booking.end_date %></li>
  <% end %>
</div><br>

<%= link_to "Edit Your Profile", edit_user_path(@user) %><br>
<%= link_to "Create a Listing", create_listing_path %><br>
<%= link_to "View Listings", listings_path %><br>
<%= link_to "Sign Out", logout_path, method: :delete %>
