<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <%= stylesheet_link_tag "users" %> -->
	<title>Profile</title>
</head>
<body>

<a class="logo navbar-brand" href="<%= welcome_1_path %>"><img src="/images/BestBookingLogo.jpg" style="max-height: 50px;"></a>

<nav class="navbar navbar-expand-lg navbar-light">

	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<a class="nav-link" <%= link_to "Listings", listings_path %></a>
		<a class="nav-link" <%= link_to "Create a Listing", create_listing_path %></a>
		<a class="nav-link" <%= link_to "Edit Your Profile", edit_user_path(@user) %></a>
		<a class="nav-link" <%= link_to "Sign Out", logout_path, method: :delete %></a>
	</ul>
</nav>

<div class="container text-center">
	<h1>Hi, <%= @user.name %>!</h1>
</div>

<div class="container" style="margin-top:30px">

<div class="row">


<div class="col-sm">
    <ul>
       <img src="/images/<%= @random_image %>" style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
    </ul><br>
</div>

<span class="border border-primary"></span>

<div class="col-sm"  style="margin-bottom:10px;">
  <h2 class="text-center">Your Upcoming Bookings:</h2>
  <% if @user.bookings.empty?%>
	 You Currently Have No Bookings.
	<% else %>
    <ul>
	  <% @user.bookings.each do |booking| %>
		<p><%= link_to booking.listing.location, booking_path(booking) %><br>
		   <strong>Dates: </strong><%= booking.to_d%><br><br>
      <% end %>
	</ul>
	<% end %>

</div>

<span class="border border-primary"></span>

<div class="col-sm">
  <h2>Your Listings:</h2>
	<% if @user.listings.empty?%>
	You Currently Have No Listings.
	<% else %>
	 <ul>
	   <% @user.listings.each do |listing| %>
	     <p><%= link_to listing.location, listing_path(listing) %></p>
	   <% end %>
	 </ul>
	<% end %>
</div>

</div>

</div>

<footer class="text-center" style="margin-top:20px; padding-top:5px;">
  <h4>BestBooking!</h4>
  <p>All Rights Reserved &trade;</p>
</footer>
</body>
</html>
